[Desktop Entry]
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=./cuey/home/.local/bin/win10.sh
GenericName[en_US]=
GenericName=
Icon=/home/cuey/.local/bin/win10.ico
MimeType=
Name[en_US]=Win10 vm
Name=Win10 vm
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
